.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px; /* Adjust to match your header height */
    background-color: #f8f8f8; /* Adjust to match your design */
    padding: 0 10px;
}

.toolbar-button {
    flex: 1;
    max-width: 10%;
}

.toolbar-title {
    flex: 8;
    text-align: center;
}

.main-content {
    display: flex;
}

.left-section {
    display: flex;
    flex-direction: column;
}

.filter-container {
    flex: 1;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 40vw; /* Adjust this value as needed */
    height: 40vw; /* Make it equal to the width */
}

.add-comment-container {
    flex: 1;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.comment-toolbar {
    display: flex;
    justify-content: space-between; /* This will space out the select and button */
    padding: 10px; /* Add some padding around the toolbar */
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#commentText {
    flex-grow: 1;
    resize: none; /* This will prevent the user from resizing the textarea */
}

.comments-container {
    flex: 2;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
}

.perspective {
    font-weight: bold;
    font-size: 1.5em;
}

.comment-item {
    display: flex;
}

.vote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.perspective {
    font-weight: bold;
    font-size: 1.5em;
}

.vote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.vote-button.upvoted {
    background-color: green;
    color: white; /* Change the text color to ensure it's visible on the green background */
}

.vote-button.downvoted {
    background-color: red;
    color: white; /* Change the text color to ensure it's visible on the red background */
}

.perspective {
    font-weight: bold;
    font-size: 1.5em;
}

#commentFormContainer {
    flex-grow: 1;
}
