.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px; /* Adjust to match your header height */
    background-color: #f8f8f8; /* Adjust to match your design */
    padding: 0 10px;
}

.toolbar-button {
    flex: 1;
    max-width: 10%;
}

.toolbar-title {
    flex: 8;
    text-align: center;
}

.main-content {
    display: flex;
}

.left-section {
    display: flex;
    flex-direction: column;
}

.filter-container {
    flex: 1;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 40vw; /* Adjust this value as needed */
    height: 40vw; /* Make it equal to the width */
}

.add-comment-container {
    flex: 1;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.comment-toolbar {
    display: flex;
    justify-content: space-between; /* This will space out the select and button */
    padding: 10px; /* Add some padding around the toolbar */
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#commentText {
    flex-grow: 1;
    resize: none; /* This will prevent the user from resizing the textarea */
}

.comments-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Adjust spacing between comments */
}

.comment-item {
    display: flex;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.vote-container {
    /* Orange container */
    flex-basis: 10%;
    background-color: orange;
    /* Add additional styling */
}

.content-container {
    /* Main content container */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.perspective-container {
    /* Blue container */
    background-color: blue;
    /* Add additional styling */
}

.comment-text-container {
    /* Green container */
    flex-grow: 1;
    background-color: green;
    /* Add additional styling */
}

.interaction-container {
    /* Container for interaction buttons */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-replies-container {
    /* Purple container */
    background-color: purple;
    /* Add additional styling */
}

.reply-button-container {
    /* Red container */
    background-color: red;
    /* Add additional styling */
}

.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; /* Space between text and footer */
}

.vote-button {
    background: none;
    border: none;
    cursor: pointer;
    color: black;
}

.vote-button.voted {
    font-weight: bold;
}

.vote-button.upvoted {
    color: green;
}

.vote-button.downvoted {
    color: red;
}

#commentFormContainer {
    flex-grow: 1;
}
