/* account.css */

/* Styles for the perspectives table */
table {
    width: 90%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

/* Styles for the update form */
#updatePerspectiveForm {
    display: flex;
    flex-direction: row ;
    gap: 10px;
}

#updatePerspectiveName {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 80%;
}

#updatePerspectiveForm button {
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#updatePerspectiveForm button:hover {
    background-color: #003d82;
}

#addPerspectiveSection {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addPerspectiveForm {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#addPerspectiveForm label {
    margin-bottom: 10px;
}

#addPerspectiveForm select {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#addPerspectiveForm button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addPerspectiveForm button:hover {
    background-color: #0056b3;
}